<a id='menu'></a>
 <hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.25"> 

 ![learning academy and data science campus logos](../images/la_dsc_logo.jpg)
  <hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.25">


# Introduction to Python
## Chapter 3 – Reading In and Exporting Data
***
Follow along with the code by running cells as you encounter them
***
*Chapter Overview and Learning Objectives:*

* [Script Structure and Packages](#packages)
 * Script Structure
 * Packages in this session


* [Project Structure](#structure)
    - Setting Working Directories
    - Relative vs Absolute file Paths
    - A note on file paths


* [Reading Flat Files](#flat_files)
 

* [Reading Excel Files](#excel_files)


* [Reading in other file types](#other_files)


* [Exporting Data](#export)

<a id='packages'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Script Structure and Packages

### Script Structure

Scripts should be read like books, from top to bottom and left to right.

Packages and data should be loaded at the top of the script – this ensures that they’re available to use right from the start of your work.

This also makes your code easier to read. 

Your code should also include explanatory comments, as well as following the naming conventions we talked about in chapter 2.

You may understand your code now, but will you still understand it 6 months down the line – or will your co-worker understand it when you leave?

### Packages

As a reminder – we should always import our packages at the top of our script.


In this session we will use `pandas`, and give it the nickname `pd`.

Complete this action in the cell below.

In [2]:
# Import Pandas into this cell
import pandas as pd

In [3]:
%whos

Variable   Type      Data/Info
------------------------------
pd         module    <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

You can run the "solution" cell if you need help - or revisit chapter 2.

Practicing these basic commands helps your retention of the skills.

In [ ]:
# Solution - These cells contain answers for the exercises.
#Run once to reveal the code.
#Run again to reveal the output. 

%load ../solutions/chapter_3/importpandas.py

[return to menu](#menu)

<a id='structure'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Project Structure

There's many important reasons to structure our projects:

You may have noticed the folder structure of the `intro_to_python.zip ` folder you downloaded.

As our projects grow we can end up with a large amount of data files; notebook files and outputs. Keeping them structured is a really important aspect of managing your data.
Imagine if you sent your colleague a folder that looked like this:

![cluttered](../images/cluttered.png)

Finding the right files within here is tricky – and this is just the content we’ve explored so far on the course!

Having a folder structure like this – helps to keep our data organised.

![folderstructure)](../images/folderstructure.png)

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Setting Working Directories

The working directory is the place where Python automatically looks for our files.

You can check what your working directory is by using the magic command in Jupyter.

In [4]:
%pwd

'C:\\Users\\hodgeh\\Intro_to_Python\\notebooks'

This stands for "Print Working Directory".

Yours is likely to be: 

` 'C:\\Users\\username\\Intro_to_Python\\notebooks' `

If you work within ONS. This is because we saved this zip file into our C Drive. If you saved to a different location the first part may be different.

If you're using Spyder or another IDE you can find your working directory using:

```python
import os # os is a package that allows us to interact with the operating system.
os.getcwd() # gets the current working directory.
```

No matter what the first part is – you will always have `Intro_to_Python\\notebooks ` as the end part. We’ll see why this happens in a second.

You can change your working directory by using the command 

`%cd ‘filepath_of_new_directory’`

e.g

`%cd //fa1rvwapxx333/Intro_to_Python/Notebooks`

In Spyder

```python
os.chdir("filepath") # This assumes you've already imported os
```

You may want to change your directory if you are working with large data files; or working on a group project from a shared network drive.  Note shared network drives have two forward slashes at the start.

You do not need to do this for this course.

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Relative vs Absolute file Paths

If I want to give you a location of a file, I can use the absolute file path. 

Let's say I have saved the `“Intro_to_Python”` folder in my C Drive and I want to access the file – `animals.csv`. 

The full or **absolute** location of this file is:

`"C:/Users/Hodgeh/Intro_to_Python/Data/animals.csv" `

This is clear and explicit about where the data is stored. However if you were to use this link you would need to change elements of it – for example your username is not “Hodgeh”.

Because my working directory is automatically set to `"C:/Users/Hodgeh/Intro_to_Python/notebooks"`  I can use what’s called a relative path.

A **relative** path is the location relative to the working directory.

For example, I can load the same file as above using the path

`"../data/animals.csv"`

This will work for any user – as long as their working directory is set to the `Notebooks` Folder in the `Into_to_Python` folder.

You may notice here I’ve used `“..”` - This may not be something you’ve come across before.

This is the code we can use to go back up a level in our folder structure. We can’t go directly between sub-folders in a directory. We must go back to the parent folder – here `“Intro_to_Python”` before we can go into the `data` folder.

Here's a diagram that explains this principle.

![relative](../images/relativefilepath.jpg)

The black arrow leads from the starting location; or the working directory `"notebooks"`, and moves to the parent `Intro_to_Python"` folder – using the `“..”` notation.

The blue arrow moves forwards into the required folder – `"/data"`.

And the purple arrow selects our file name `"/animals.csv"`.

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### A note on file paths

We highly recommend using forward slashes “/” within file paths.


When copying a file path from Windows Explorer it will often have the `“\”` backslash character instead of a forward slash.


This causes issues in two ways. Firstly the Windows operating system is the only one to use this system, Mac and Linux operating systems use the forward slash `/`. Secondly the backslash symbol is often used as an escape character within Python. 


Thirdly; although Python will often accept backslashes, other commonly used languages – like the statistical programming language “R” will not. It’s worth getting into the good practice of using forward slashes. 


Lastly – if you absolutely must use backslashes you should preface the string with the letter `r` – to ensure it’s passed as a raw string - e.g

``` python

school = pd.read_csv(r"..\data\schools_data.csv")

```

[return to menu](#menu)

<a id='flat_files'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Flat Files

We use `pandas` to read in our files in this course.

There are ways of reading in files without using this package; however, using `pandas` will bring in our data as the specialised data type – a `pandas` DataFrame.


Flat files are files like CSV (Comma Separated Values), .txt files etc. 

The data is stored in a single table, with a specific delimiter used to separate values into column.

To import a .csv file we need to give the data an identifier or a variable name.

I am going to import the animals data – so I will give it the variable name `animals` and use an `=` to assign to it.

I’m using one of the read functions from pandas. So I use the `pd` abbreviation before calling my method.

My function starts `.read_`

Pandas has a variety of `.read_` functions. 

Place your cursor in the cell below, after the underscore and hit the tab key to see them all.

If this doesn’t work, please ensure you have imported Pandas to your session. See Chapter 2 or top of this script.

In [ ]:
%config Completer.use_jedi = False

In [5]:
animals = pd.read_csv("../data/animals.csv")
# Put your cursor after the _ in the line above and hit tab

![read_autocomplete](../images/read_autocomplete.png)

In [ ]:
animals = pd.read_csv(url("https://sharepoint.my_file.csv"))

The `pd.read_` function I want is `pd.read_csv()`

In the brackets the only parameter I need to specify is the location of my file.

This goes within quotation marks.

I also need to specifiy the file extension.

I have specified the relative file path to my working directory.

When I import data into Jupyter notebooks I get no confirmation that my code has worked. The number within the square brackets increases, indicating the cell has run.

After importing data it may be useful to check using it appears as a variable using`%whos`. In Spyder you should see the DataFrame appear in your variable explorer.

In [7]:
%whos

Variable   Type         Data/Info
---------------------------------
animals    DataFrame           IncidentNumber    <...>n[5752 rows x 19 columns]
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

I can view my data by using a variety of methods; which we'll explore later.

For small datasets I can print it by inputting the name – however for large data sets this is not practical.

Here I'll give Python my DataFrame name and then call the `.head()` method. This returns the top 5 rows by default.

In [8]:
animals.head()

,IncidentNumber,DateTimeOfCall,CalYear,FinYear,TypeOfIncident,PumpCount,PumpHoursTotal,HourlyNominalCost(£),IncidentNominalCost(£),FinalDescription,AnimalGroupParent,PropertyType,SpecialServiceTypeCategory,SpecialServiceType,Borough,StnGroundName,AnimalClass,Code,London
0,139091,01/01/2009 03:01,2009,2008/09,Special Service,1.0,2.0,255,510.0,"DOG WITH JAW TRAPPED IN MAGAZINE RACK,B15",Dog,House - single occupancy,Other animal assistance,Animal assistance involving livestock - Other ...,Croydon,Norbury,Mammal,00AH,Outer London
1,275091,01/01/2009 08:51,2009,2008/09,Special Service,1.0,1.0,255,255.0,"ASSIST RSPCA WITH FOX TRAPPED,B15",Fox,Railings,Other animal assistance,Animal assistance involving livestock - Other ...,Croydon,Woodside,Mammal,00AH,Outer London
2,2075091,04/01/2009 10:07,2009,2008/09,Special Service,1.0,1.0,255,255.0,"DOG CAUGHT IN DRAIN,B15",Dog,Pipe or drain,Animal rescue from below ground,Animal rescue from below ground - Domestic pet,Sutton,Wallington,Mammal,00BF,Outer London
3,2872091,05/01/2009 12:27,2009,2008/09,Special Service,1.0,1.0,255,255.0,"HORSE TRAPPED IN LAKE,J17",Horse,"Intensive Farming Sheds (chickens, pigs etc)",Animal rescue from water,Animal rescue from water - Farm animal,Hillingdon,Ruislip,Mammal,00AS,Outer London
4,3553091,06/01/2009 15:23,2009,2008/09,Special Service,1.0,1.0,255,255.0,"RABBIT TRAPPED UNDER SOFA,B15",Rabbit,House - single occupancy,Other animal assistance,Animal assistance involving livestock - Other ...,Havering,Harold Hill,Mammal,00AR,Outer London

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

### Exercise

Import the data `schools_data.csv` from the data folder with an apropriate variable name.

Look at the bottom of the data using the `.tail()` method. All of our missing data is at the bottom, so you may see lots of `nan` values.

In [ ]:
# Exercise

In [11]:
# %load ../solutions/chapter_3/read_csv.py
# Import the data schools_data.csv from the data folder with an apropriate variable name.

school = pd.read_csv("../data/schools_data.csv")

school.head()

,URN,School name,Ofsted region,Local authority,Type of education,Phase of education,Total number of pupils,Deprivation index,Inspection start date,Inspection end date,Inspection type,Overall effectiveness,Category of concern,Outcomes for pupils,"Quality of teaching, learning and assessment",Effectiveness of leadership and management,"Personal development, behaviour and welfare",Early years provision,16 - 19 study programmes
0,100000,Sir John Cass's Foundation Primary School,London,City of London,Voluntary Aided School,Primary,250.0,4.0,18/04/2013,19/04/2013,S5 Inspection,1.0,NaN,1.0,1.0,1.0,9.0,9.0,9.0
1,100005,Thomas Coram Centre,London,Camden,LA Nursery School,Nursery,114.0,NaN,05/06/2014,06/06/2014,S5 Inspection,1.0,NaN,1.0,1.0,1.0,9.0,9.0,9.0
2,100006,CCfL Key Stage 4 PRU,London,Camden,Pupil Referral Unit,PRU,27.0,NaN,24/04/2014,25/04/2014,S5 Inspection,2.0,NaN,2.0,2.0,2.0,9.0,9.0,9.0
3,100007,Camden Primary Pupil Referral Unit,London,Camden,Pupil Referral Unit,PRU,20.0,NaN,26/03/2015,27/03/2015,S5 Inspection,2.0,NaN,2.0,2.0,2.0,9.0,9.0,9.0
4,100008,Argyle Primary School,London,Camden,Community School,Primary,417.0,5.0,28/01/2015,29/01/2015,S5 Inspection,2.0,NaN,2.0,2.0,2.0,9.0,2.0,9.0

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

We have only specified one argument here; the file path for the data.

When we look at the docstring we can see that there are many other arguments we can specify. This includes:

* Changing the delimiter
* Skipping Rows
* Parsing in date columns
* Manually specifying additional missing values 

Have a look at the docstring for `read_csv()`

In [15]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=False, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used automatically. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the data.
        Default behavior is as if set to 0 if no ``names`` passed, otherwise
        ``None``. Explicitly pass ``header=0`` to be able to replace existing
        names. The header can be a list of integers that specify row locations for
        a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not
        specified will be skipped (e.g. 2 in this example is skipped). Note that
        this parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of data
        rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list are not
        allowed unless mangle_dupe_cols=True, which is the default.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        DEPRECATED: this argument will be removed in a future version. Please call
        `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        DEPRECATED: use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'`.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and parse_dates is enabled, pandas will attempt to infer the format
        of the datetime strings in the columns, and if it can be inferred, switch
        to a faster method of parsing them. In some cases this can increase the
        parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and parse_dates specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call date_parser in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by parse_dates into a single array
        and pass that; and 3) call date_parser once for each row using one or more
        strings (corresponding to the columns defined by parse_dates) as arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use gzip,
        bz2, zip or xz if filepath_or_buffer is a string ending in '.gz', '.bz2',
        '.zip', or 'xz', respectively, and no decompression otherwise. If using
        'zip', the ZIP file must contain only one data file to be read in.
        Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        Leave a list of tuples on columns as is (default is to convert to
        a Multi Index on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        DEPRECATED: this argument will be removed in a future version because its
        value is not respected by the parser
    compact_ints : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

We talk more about parameters and arguments in chapter 4.

A **parameter** is a name or a label for an *argument* that follows it.

As we’ll see later some parameters are optional – Python can identify what they relate to by the order we pass them to our method.

However it’s less ambiguous to both python (and whoever reads your code) if you include the parameter as well.

It's worth noting here that most of these parameters have default arguments.

e.g -  `sep=','`

The `sep= ` parameter tells python that the argument that follows will be what the separator type is in this file.

The comma `"," ` is the default argument. 

Unless I specify differently `pd.read_csv()` assumes that the separator is a comma. If my seperator was a semi colon I could write my `pd.read_csv()` statment like this:

``` python

school = pd.read_csv("../data/schools_data.csv", sep=";")

```

[return to menu](#menu)

<a id='excel_files'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Excel Files

 As mentioned earlier we can also use the `pd.read_` functions to read in excel files.
 
The function is `pd.read_excel()`

This also takes a minimum of one argument; the location of the file including the file extension.

Here I am reading in a file called `titanic.xlsx` from the usual data folder. I am calling it the object `titanic`.

I am running `.sample()` to display just the a sample of a row of the data.

In [16]:
titanic = pd.read_excel("../data/titanic.xlsx")
titanic.sample()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest,body,boat
226,1,0,"Pears, Mr. Thomas Clinton",male,29.0,1,0,113776,66.6,C2,S,"Isleworth, England",NaN,NaN

`pd.read_excel()` also has additional parameters we can set.

Have a look at the docstring below.

In [17]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel:

read_excel(io, sheetname=0, header=0, skiprows=None, skip_footer=0, index_col=None, names=None, parse_cols=None, parse_dates=False, date_parser=None, na_values=None, thousands=None, convert_float=True, has_index_names=None, converters=None, dtype=None, true_values=None, false_values=None, engine=None, squeeze=False, **kwds)
    Read an Excel table into a pandas DataFrame

    Parameters
    ----------
    io : string, path object (pathlib.Path or py._path.local.LocalPath),
        file-like object, pandas ExcelFile, or xlrd workbook.
        The string could be a URL. Valid URL schemes include http, ftp, s3,
        and file. For file URLs, a host is expected. For instance, a local
        file could be file://localhost/path/to/workbook.xlsx
    sheetname : string, int, mixed list of strings/ints, or None, default 0

        Strings are used for sheet names, Integers are used in zero-indexed
        sheet positions.

        Lists of strings/integers are used to request multiple sheets.

        Specify None to get all sheets.

        str|int -> DataFrame is returned.
        list|None -> Dict of DataFrames is returned, with keys representing
        sheets.

        Available Cases

        * Defaults to 0 -> 1st sheet as a DataFrame
        * 1 -> 2nd sheet as a DataFrame
        * "Sheet1" -> 1st sheet as a DataFrame
        * [0,1,"Sheet5"] -> 1st, 2nd & 5th sheet as a dictionary of DataFrames
        * None -> All sheets as a dictionary of DataFrames

    header : int, list of ints, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``
    skiprows : list-like
        Rows to skip at the beginning (0-indexed)
    skip_footer : int, default 0
        Rows at the end to skip (0-indexed)
    index_col : int, list of ints, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 0.20.0

    true_values : list, default None
        Values to consider as True

        .. versionadded:: 0.19.0

    false_values : list, default None
        Values to consider as False

        .. versionadded:: 0.19.0

    parse_cols : int or list, default None
        * If None then parse all columns,
        * If int then indicates last column to be parsed
        * If list of ints then indicates list of column numbers to be parsed
        * If string then indicates comma separated list of column names and
          column ranges (e.g. "A:E" or "A,C,E:F")
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'.
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    engine: string, default None
        If io is not a buffer or path, this must be set to identify io.
        Acceptable values are None or xlrd
    convert_float : boolean, default True
        convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally
    has_index_names : boolean, default None
        DEPRECATED: for version 0.17+ index names will be automatically
        inferred based on index_col.  To read Excel output from 0.16.2 and
        prior that had saved index names, use True.

    Returns
    -------
    parsed : DataFrame or Dict of DataFrames
        DataFrame from the passed in Excel file.  See notes in sheetname
        argument for more information on when a Dict of Dataframes is returned.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Import the data `police_data.xlsx`. We want to import the second sheet, this has the name "Table P1".

You may need to specify some additional parameters. Look in the help to see which one you should specify.

A hint; if referencing the sheet by index position; remember that Python starts counting at 0!

In [25]:
# Exercise
police = pd.read_excel("../data/police_data.xlsx", sheetname = "Table P1")
police.head()

,Area Codes,Area Name,Region,Country,Total recorded crime - including fraud,Total recorded crime - excluding fraud,Violence against the person,Homicide,Violence with injury,Violence without injury,...,Theft from the person,Bicycle theft,Shoplifting,All other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes against society,Fraud
0,E23000013,Cleveland,North East,ENGLAND,39867,39770,6307,3,3659,2645,...,394,1127,5333,5712,8058,2073,258,1376,390,97
1,E23000008,Durham,North East,ENGLAND,30799,30751,4452,5,2485,1962,...,153,639,2863,4501,6757,1251,244,1182,516,48
2,E23000007,Northumbria,North East,ENGLAND,70082,69935,9547,21,6148,3378,...,993,1995,8723,8947,14050,4723,644,2865,1136,147
3,E23000006,Cheshire,North West,ENGLAND,57127,56780,10568,5,4910,5653,...,1088,1753,6729,7368,9645,2744,256,1991,568,347
4,E23000002,Cumbria,North West,ENGLAND,24079,23952,4817,6,2426,2385,...,139,441,2595,3100,5345,1575,154,1061,357,127

In [26]:
police["Area Name"] = police["Area Name"].str.lower()
police.head()

,Area Codes,Area Name,Region,Country,Total recorded crime - including fraud,Total recorded crime - excluding fraud,Violence against the person,Homicide,Violence with injury,Violence without injury,...,Theft from the person,Bicycle theft,Shoplifting,All other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes against society,Fraud
0,E23000013,cleveland,North East,ENGLAND,39867,39770,6307,3,3659,2645,...,394,1127,5333,5712,8058,2073,258,1376,390,97
1,E23000008,durham,North East,ENGLAND,30799,30751,4452,5,2485,1962,...,153,639,2863,4501,6757,1251,244,1182,516,48
2,E23000007,northumbria,North East,ENGLAND,70082,69935,9547,21,6148,3378,...,993,1995,8723,8947,14050,4723,644,2865,1136,147
3,E23000006,cheshire,North West,ENGLAND,57127,56780,10568,5,4910,5653,...,1088,1753,6729,7368,9645,2744,256,1991,568,347
4,E23000002,cumbria,North West,ENGLAND,24079,23952,4817,6,2426,2385,...,139,441,2595,3100,5345,1575,154,1061,357,127

In [ ]:
# %load ../solutions/chapter_3/read_excel.py
# Load in the police data

police = pd.read_excel("../data/police_data.xlsx", sheetname=1)

police.head()

# The paramater sheetname = 1 imports the second sheet
# sheetname = "Table P1" will also work
# Note from Pandas 0.21.0 use sheet_name =

[return to menu](#menu)

<a id='other_files'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

# Reading in Other File types

We can also import a wide variety of other file types using the `pd.read_` function.
As you’ll see by pressing tab in the cell below, we can read in a variety of files.
Such as:
*  json
* sas
* sql
* stata
* pickles

In [ ]:
pd.read_

While we don’t cover these in this course you can explore the docstrings for each of these file types.

There are other packages available if you wish to load other file types. For ONS users this may require you downloading other packages. You can find instructions on how to do this from [Yammer](https://www.yammer.com/ons.gov.uk/#/Threads/show?threadId=131432635932672&search_origin=global&scoring=linear1Y-prankie-group-private-higher&match=any-exact&search_sort=relevance&page=1&search=pip.ini).

For users outside of ONS you may wish to consult your department; or if you are using a non-networked laptop you can see [here](https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/) for instructions.

[return to menu](#menu)

<a id='export'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Exporting Data

As well as reading in data we can also export data from Python.

When we load data into Python using Pandas we create a temporary copy of it within our session. 

Any changes we make to the data won’t be reflected in the saved file.

For example if you deleted columns, and closed your Python script **without** exporting the data – your data would still have all of it’s columns when you reloaded it in. 

To save our files we use the `to_csv()` after our DataFrame object.

In [27]:
police.to_csv("../outputs/my_police.csv")

In [ ]:
titanic.to_csv("../outputs/my_titanic.csv")

Again, nothing seems to have actioned within Jupyter - the line number has increased so we know the code has run.

If you check the outputs folder in File Explorer you will see the new file there.

As we talked about earlier; having the outputs in a different folder to the raw data is a good step for keeping our projects organised.

In [ ]:
titanic.to_excel

Place your cursor after the underscore in the cell above and hit tab. You will see that there are many other file formats we can export to.

Each of these has additional parameters you can specify to get the exact exported file you want.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Export the `animals` dataset as an excel file - The file extension is `.xlsx`

Save it in the Outputs folder.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_3/export_animals.py

<a id='END'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## End of Chapter

In this chapter we’ve explored:

* Script Structure
* Loading in packages
* Project Structure
* Reading CSV Files
* Reading Excel Files
* Reading other file types
* Exporting Data.


You have completed chapter 3 of the Introduction to Python course. Please move on to chapter 4.

[return to menu](#menu)